{% extends 'base.html' %}

{% block body %}
    <div>
        <a href="{% url 'group:create_group' %}">Create Group</a>
    </div>
    <div>
        <a href="{% url 'group:public_groups' %}">Public Groups</a>
    </div>
    <div>
        My groups
    </div>
    {%for group in user_owned_groups %}
    <li>
        <a href="{% url 'group:group' group.id %}">{{ group.code }} : {{ group.title }} :{% if group.is_private %}private
        {% else %}public {% endif %} </a>
    </li>
    {% endfor %}
    <div>
        joined groups
    </div>
    {%for group in user_joined_groups %}
    <li>
        <a href="{% url 'group:group' group.id %}">{{ group.code }} :{{ group.title }} : {% if group.is_private %}private
        {% else %}public {% endif %} </a>
    </li>
    {% endfor %}
{% endblock %}