{% extends 'base.html' %}

{% block body %}
    <div>
        <a href="{% url 'group:create_group' %}">Create Group</a>
    </div>
    <div>
        <a href="{% url 'group:public_groups' %}">Public Groups</a>
    </div>
    <div>
        My groups
    </div>
    {%for group in user_owned_groups %}
    <li>
        <a href="{% url 'group:group' group.id %}">{{ group.code }} : {{ group.title }} :{% if group.is_private %}private
        {% else %}public {% endif %} </a>
    </li>
    {% endfor %}
    <div>
        joined groups
    </div>
    {%for group in user_joined_groups %}
    <li>
        <a href="{% url 'group:group' group.id %}">{{ group.code }} :{{ group.title }} : {% if group.is_private %}private
        {% else %}public {% endif %} </a>
    </li>
    {% endfor %}
    <br>
    <div><h4>Search for groups</h4></div>
    <div class="item">
        <div class="ui search" id="group_search_box">
            <div class="ui icon input">
                <input class="prompt" type="text" placeholder="Search group...">
                <i class="search icon"></i>
          </div>
        </div>
    </div>
    <script>
        var url = "{% url 'group:group_search' 'query' %}".replace('query', '{query}');
        $('#group_search_box').search({
            type          : 'standard',
            minCharacters : 2,
            apiSettings   : {
                url: url
            },
            fields: {
                results: 'groups',
                title: 'title',
                description: 'description',
                url: 'url'
            }
        });
    </script>
{% endblock %}