{% extends 'base.html' %}
{% load static %}
{% block extra_header %}
    {# stylesheets  #}
    <link rel='stylesheet' href='{% static 'css/mapbox-gl.css' %}'/>
    <script src="{% static 'js/mapbox-gl.js' %}"></script>
{% endblock %}
{% block body %}
    <div>
        <a href="{% url 'group:create_group' %}">Create Group</a>
    </div>
    <div>
        <a href="{% url 'group:public_groups' %}">Public Groups</a>
    </div>
    <div>
        My groups
    </div>
    {% for group in user_owned_groups %}
        <li>
            <a href="{% url 'group:group' group.id %}">{{ group.code }} : {{ group.title }} :{% if group.is_private %}
                private
            {% else %}public {% endif %} </a>
        </li>
    {% endfor %}
    <div>
        joined groups
    </div>
    {% for group in user_joined_groups %}
        <li>
            <a href="{% url 'group:group' group.id %}">{{ group.code }} :{{ group.title }} : {% if group.is_private %}
                private
            {% else %}public {% endif %} </a>
        </li>
    {% endfor %}
    <br>
    <div><h4>Search for groups</h4></div>
    <div class="item">
        <div class="ui search" id="group_search_box">
            <div class="ui icon input">
                <input class="prompt" type="text" placeholder="Search group...">
                <i class="search icon"></i>
            </div>
        </div>
    </div>


    <br>
    <div><h4>Sort Your Groups By Location:</h4></div>
    <br>
    <div id='map' style="width: 100%; height: 50em; display: block;"></div>
    <br>
    <form method="GET" action={% url "group:nearby_groups" %}>
        {{ form.errors }}
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
        <input type="hidden" name="source_lat" id="id_source_lat" value="35.7">
        <input type="hidden" name="source_lon" id="id_source_lon" value="51.4">
    </form>


    <script>
        var url = "{% url 'group:group_search' 'query' %}".replace('query', '{query}');
        $('#group_search_box').search({
            type: 'standard',
            minCharacters: 2,
            apiSettings: {
                url: url
            },
            fields: {
                results: 'groups',
                code: 'title',
                description: 'description',
                url: 'url'
            }
        });
    </script>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoibW9laW45OSIsImEiOiJjanlwdml1cmkxZjlvM25ub29ibWx6MXZ6In0.qeTaEdOQHEbgUXTapsbj0A';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [51.40, 35.70],
            zoom: 11
        });

        var source_marker = new mapboxgl.Marker({
            draggable: true
        }).setLngLat([51.40, 35.70]).addTo(map).setPopup(new mapboxgl.Popup({offset: 25}) // add popups
            .setHTML('<h3>Source</h3>'));

        function onDragEnd() {
            const source_lngLat = source_marker.getLngLat();
            document.getElementById('id_source_lat').value = source_lngLat.lat;
            document.getElementById('id_source_lon').value = source_lngLat.lng;
        }

        source_marker.on('dragend', onDragEnd);
    </script>

    <script>
        function map_btn() {
            map = document.getElementById('map');
            const form = document.getElementById('id_form');
            if (map.style.display === 'none') {
                map.style.display = 'block';
                append_source_input(form);
                onDragEnd();
                document.getElementById('id_map_btn').innerText = 'Remove source location'
            } else if (map.style.display === 'block') {
                map.style.display = 'none';
                delete_child_from_parent('id_form', 'id_source_lat');
                delete_child_from_parent('id_form', 'id_source_lon');
                document.getElementById('id_map_btn').innerText = 'Select source location'
            }
        }

        function append_source_input(form) {
            const source_lat_input = create_input('hidden', 'source_lat', 'id_source_lat');
            const source_lon_input = create_input('hidden', 'source_lon', 'id_source_lon');
            form.appendChild(source_lat_input);
            form.appendChild(source_lon_input);
        }

        function create_input(type, name, id) {
            const input = document.createElement('input');
            input.setAttribute('type', type);
            input.setAttribute('name', name);
            input.setAttribute('id', id);
            return input
        }

        function delete_child_from_parent(parent_id, child_id) {
            document.getElementById(parent_id).removeChild(document.getElementById(child_id))
        }
    </script>
{% endblock %}