<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Trips</title>
</head>
<body>
    {% if user.is_authenticated %}
        {% include 'authenticated_navbar.html' %}
    {% else %}
        {% include 'not_authenticated_navbar.html' %}
    {% endif %}

    {% for trip in trips %}
        <p id={{ trip.id }}>
            from : lat : {{ trip.source.x }} , lan : {{ trip.source.y }}
            <br>
            to : lat : {{ trip.destination.x }}, {{ trip.destination.y }}
            <br>
            car provider is : {{ trip.car_provider.username }}
            <br>
            <a href="#">Join This Trip </a>
        </p>
    {% endfor %}
</body>
</html>