<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Trips</title>
</head>
<body>
    {% if user.is_authenticated %}
        {% include 'authenticated_navbar.html' %}
    {% else %}
        {% include 'not_authenticated_navbar.html' %}
    {% endif %}

    {% for trip in trips %}
        <p>
            from : lat : {{ trip.source.x }} , lan : {{ trip.source.y }}
            <br>
            to : lat : {{ trip.destination.x }}, {{ trip.destination.y }}
            <br>
            car provider is : {{ trip.car_provider.username }}
            <br>
            {% if trips.is_private %}
                <p>
                this trips comes from groups :
                {% for group in trip.groups %}
                    {{ group.title }}, &nbsp
                {% endfor %}
                </p>
            {% else %}
                <p>
                this trip is public
                </p>
            {% endif %}
            <a href="#">Join This Trip </a>
        </p>
    {% endfor %}
</body>
</html>