<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Trips</title>
</head>
<p>
{#    {% if user.is_authenticated %}#}
{#        {% include 'authenticated_navbar.html' %}#}
{#    {% else %}#}
{#        {% include 'not_authenticated_navbar.html' %}#}
{#    {% endif %}#}

    {% for group in groups %}
        {% with group.id|slugify as group_id %}
        <p id={{ "group-"|add:group_id }}>
            {% for trip in group.trip_set.all %}
                {% with trip.id|slugify as trip_id %}
                <p id={{ "group-"|add:group_id|add:"-trip-"|add:trip_id }}>
                    from : lat : {{ trip.source.x }} , lan : {{ trip.source.y }}
                    <br>
                    to : lat : {{ trip.destination.x }}, {{ trip.destination.y }}
                    <br>
                    car provider is : {{ trip.car_provider.username }}
                    <br>
                    <a href="#">Join This Trip </a>
                </p>
                {% endwith %}
            {% endfor %}
        </p>
        {% endwith %}
    {% endfor %}
</body>
</html>