{% extends 'base.html' %}

{% block body %}
    <form method="POST">
        {% csrf_token %}
        <ul id="groups_container"></ul>
        <input type="submit" value="Add Groups">
    </form>

    <script>
        var groups_container = document.getElementById('groups_container');
        {% for group in groups %}
            var list_item = document.createElement('li');
            var label = document.createElement('label');
            label.setAttribute('for', '{{ group.title }}');
            label.appendChild(document.createTextNode('{{ group.title }}'));
            var input = document.createElement('input');
            input.setAttribute('type', 'checkbox');
            input.setAttribute('name', '{{ group.code }}');
            input.setAttribute('id', 'id_{{ group.code }}');
            list_item.appendChild(label);
            list_item.appendChild(input);
            groups_container.appendChild(list_item);
        {% endfor %}
    </script>

{% endblock %}