{% extends 'base.html' %}

{% block body %}
    <a href="{% url 'trip:trip-creation' %}">Create a trip</a>

    <div>
        <ul id="trips_list">

        </ul>
    </div>
    <br>

    {# I Hate UI #}
    <script>
        let trips_list = document.getElementById('trips_list');
        {% for trip in trips %}
            let list_item = document.createElement('li');
            {% if trip.trip_description %}
                let description = document.createElement('p');
                description.appendChild(document.createTextNode('{{ trip.trip_description }}'));
                list_item.appendChild(description);
            {% endif %}
            let source = document.createElement('p');
            source.appendChild(document.createTextNode('Source location is {{ trip.source}}'));
            let destination = document.createElement('p');
            destination.appendChild(document.createTextNode('Destination location is {{ trip.source}}'));
            let is_private = document.createElement('p');
            {% if trip.is_private %}
                is_private.appendChild(document.createTextNode('Trip is a private trip'));
            {% else %}
                is_private.appendChild(document.createTextNode('Trip is a public trip'));
            {% endif %}
            let capacity = document.createElement('p');
            capacity.appendChild(document.createTextNode('Capacity of trip is {{ trip.capacity }}'));
            let starting_estimation = document.createElement('p');
            starting_estimation.appendChild(document.createTextNode('Trip will start about {{ trip.start_estimation }}'));
            let ending_estimation = document.createElement('p');
            ending_estimation.appendChild(document.createTextNode('Trip will end about {{ trip.end_estimation }}'));
            let link_to_trip = document.createElement('a');
            link_to_trip.appendChild(document.createTextNode('Go to trip'));
            link_to_trip.setAttribute('href', '{% url 'trip:trip_page' trip.id %}');
            list_item.appendChild(link_to_trip)
            list_item.appendChild(is_private);
            list_item.appendChild(source);
            list_item.appendChild(destination);
            list_item.appendChild(capacity);
            list_item.appendChild(starting_estimation);
            list_item.appendChild(ending_estimation);
            list_item.setAttribute('style', 'border: 1px solid; padding: 2px; margin:4px');
            trips_list.appendChild(list_item);
        {% endfor %}

    </script>
{% endblock %}