{% extends 'base.html' %}

{% block body %}
    {% for member, rate in members_rate %}
        {% if rate != -1 %}
            {{ member.username }}
            <form>
                <input type="radio" name={{ member.username }} value='1'> 1
                <input type="radio" name={{ member.username }} value='2'> 2
                <input type="radio" name={{ member.username }} value='3'> 3
                <input type="radio" name={{ member.username }} value='4'> 4
                <input type="radio" name={{ member.username }} value='5'> 5
                <input type= "Submit" value="Submit" Onclick="submitRate({{ member.id }})">
            </form>
        {% else %}
            {{ member.username }}: {{ rate }}
        {% endif %}
    {% endfor %}

    <script>
        function submitRate(receiver) {
            var rate = getChecked(document.getElementsByName({{ member.username }})).value;
            if (rate == null) {
                {#  show error  #}
                return
            }
            $.post('{% url 'trip:trip_vote' trip_id %}' , {'rate': rate, 'receiver': receiver}, function(data, status) {console.log(status);
            })
        }

        function getChecked(nodeList) {
            var node_item;
            for (node_item in nodeList) {
                if (node_item.checked) {
                    return node_item;
                }
            }
            return null;
        }
    </script>
{% endblock %}