{% extends 'base.html' %}

{% block extra_header %}
    <script type="text/javascript">
        window.onload = function () {
            var conn;
            var msg = document.getElementById("msg");
            var log = document.getElementById("log");

            function appendLog(item) {
                var doScroll = log.scrollTop > log.scrollHeight - log.clientHeight - 1;
                log.appendChild(item);
                if (doScroll) {
                    log.scrollTop = log.scrollHeight - log.clientHeight;
                }
            }

            document.getElementById("form").onsubmit = function () {
                if (!conn) {
                    return false;
                }
                if (!msg.value) {
                    return false;
                }
                conn.send(JSON.stringify({
                    username: '{{ user.username }}',
                    trip: parseInt({{ trip.id }}, 10),
                    message: msg.value
                }));
                msg.value = "";
                return false;
            };

            if (window["WebSocket"]) {
                conn = new WebSocket("ws://127.0.0.1:8080/trip/chat/ws?id={{ trip.id }}");
                conn.onclose = function (evt) {
                    var item = document.createElement("div");
                    item.innerHTML = "<b>Connection closed.</b>";
                    appendLog(item);
                };
                conn.onmessage = function (evt) {
                    var messages = evt.data.split('\n');
                    for (var i = 0; i < messages.length; i++) {
                        var item = document.createElement("div");
                        item.innerText = messages[i];
                        appendLog(item);
                    }
                };
            } else {
                var item = document.createElement("div");
                item.innerHTML = "<b>Your browser does not support WebSockets.</b>";
                appendLog(item);
            }
        };
    </script>
{% endblock %}

{% block body %}
    <div class="ui centered grid">
        <div class="ui eight wide column">
            <div class="ui center aligned segment">
                <div class="ui content" style="display: inline-block">
                    {% if trip.status == trip.WAITING_STATUS %}
                        <h3>Waiting for people</h3>
                    {% elif trip.status == trip.CLOSED_STATUS %}
                        <h3>trip is closed</h3>
                    {% elif trip.status == trip.IN_ROUTE_STATUS %}
                        <h3>In route ...</h3>
                    {% elif trip.status == trip.CANCELED_STATUS %}
                        <h3>Trip canceled</h3>
                    {% else %}
                        <h3>Trip is finished</h3>
                    {% endif %}
                </div>
                {% if not is_user_in_trip %}
                    {% if user_request_already_sent %}
                        <button class="ui right floated disabled button" style="display: inline-block">Request sent</button>
                    {% elif trip.status != trip.CANCELED_STATUS and trip.status != trip.IN_ROUTE_STATUS and trip.status != trip.DONE_STATUS %}
                        <button class="ui right floated green button" onclick="request_to_join()" style="display: inline-block">Join trip</button>
                    {% endif %}
                {% elif trip.status != trip.DONE_STATUS and trip.status != trip.IN_ROUTE_STATUS %}
                    <button class="ui left floated red button" onclick="update_page('leave')" style="display: inline-block">Leave trip</button>
                {% endif %}
                <h4 class="ui horizontal divider header">
                    <i class="tag blue icon"></i>
                    Description
                </h4>
                <h5 style="text-align: left">
                    {{ trip.trip_description }}
                </h5>
                <h4 class="ui horizontal divider header">
                    <i class="list alternate outline red icon"></i>
                    Details
                </h4>

                <table class="ui definition table">
                    <tbody>
                        <tr>
                        <td class="two wide column">Capacity</td>
                        <td>{{ trip.capacity }}</td>
                        </tr>
                        <tr>
                            <td>Car provider</td>
                            {% if trip.status != trip.CANCELED_STATUS %}
                                <td><a href="{% url 'account:user_profile' trip.car_provider.id %}">{{ trip.car_provider.first_name }} {{ trip.car_provider.last_name }}</a></td>
                            {% else %}
                                <td>No one</td>
                            {% endif %}
                        </tr>
                        <tr>
                        <td>Start</td>
                        <td>{{ trip.start_estimation }}</td>
                        </tr>
                        <tr>
                        <td>End</td>
                        <td>{{ trip.end_estimation }}</td>
                        </tr>
                        <tr>
                        <td>Source</td>
                        <td>({{ trip.source.0 }}, {{ trip.source.1 }})</td>
                        </tr>
                        <tr>
                        <td>Destination</td>
                        <td>({{ trip.destination.0 }}, {{ trip.destination.1 }})</td>
                        </tr>
                    </tbody>
                </table>

                <h4 class="ui horizontal divider header">
                    <i class="users green icon"></i>
                    People & Groups
                </h4>

                <div class="ui grid">
                    <div class="eight wide column">
                        <table class="ui celled table">
                            <thead>
                                <tr>
                                    <th>Joined People</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for member in trip.passengers.all %}
                                    <tr><td data-label="Joined People"><a href="{% url 'account:user_profile' member.id %}">{{ member.first_name }} {{ member.last_name }}</a></td></tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="eight wide column">
                        <table class="ui celled table">
                            <thead>
                                <tr>
                                    <th>Groups</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for group in trip.groups.all %}
                                    <tr><td data-label="Joined People"><a href="{% url 'group:group' group.id %}">{{ group.title }}</a></td></tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% if user == trip.car_provider and trip.status != trip.DONE_STATUS %}
                <button class="ui right floated green button" onclick="update_page('update_status')" style="display: inline-block">
                    {% if trip.status == trip.WAITING_STATUS %}
                        Close trip
                    {% elif trip.status == trip.CLOSED_STATUS %}
                        Start trip
                    {% elif trip.status == trip.IN_ROUTE_STATUS %}
                        Finish trip
                    {% endif %}
                </button>
            {% endif %}
            {% if trip.status == trip.CLOSED_STATUS %}
                <button class="ui left floated yellow button" onclick="update_page('open_trip')" style="display: inline-block">Open trip</button>
            {% endif %}
        </div>

        {% if is_user_in_trip %}
            <div class="ui four wide column">
                {% if trip.status != trip.CANCELED_STATUS %}
                    {% if trip.status != trip.DONE_STATUS %}
                        <div class="ui segment" id="music_player_container">
                            <div class="ui search" id="spotify_search_box">
                                <div class="ui icon input" style="width: 100%">
                                    <input class="prompt" type="text" placeholder="Search ...">
                                    <i class="search icon"></i>
                                </div>
                            </div>
                            <iframe id="player" style="width: 100%; height: 23em; border-radius:1em; margin-top: 1em" src="https://open.spotify.com/embed/playlist/{{ trip.playlist_id }}" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        </div>
                    {% elif is_user_in_trip and votes|length > 0 %}
                        <div class="ui segment">
                            <div class="ui content" style="font-size: 1.25em">
                                How was your trip?
                            </div>
                            {% for receiver, rate in votes.items %}
                                <div class="ui segment">
                                    <a href="{% url 'account:user_profile' receiver.id %}">{{ receiver.first_name }} {{ receiver.last_name }}:</a>
                                    <div class="ui star rating" data-rating="{{ rate }}" data-max-rating="5" id="rate_{{ receiver.id }}"></div>
                                </div>

                            {% endfor %}
                        </div>
                    {% endif %}
                {% endif %}

                <div class="ui segment">
                    <div class="ui content" id="log" style="width: 100%; height: 18em; overflow: auto;"></div>
                    <div class="ui divider"></div>
                    <form class="ui form" id="form">
                        <input type="text" id="msg" placeholder="Type a message ...">
                    </form>
                </div>
            </div>
        {% endif %}
    </div>

    {% csrf_token %}
    <script>
        var url = "{% url 'trip:spotify_search' trip.id 'query' %}".replace('query', '{query}');
        $('#spotify_search_box').search({
            type          : 'standard',
            minCharacters : 3,
            apiSettings   : {
                url: url
            },
            fields: {
                results: 'items',
                title: 'title',
                description: 'description',
                actionURL: 'url'
            },
            maxResults: 10,
        });

    </script>

    <script>
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        $.ajaxSetup({headers: { "X-CSRFToken": csrftoken }});

        function update_page(action) {
            var url = '{% url 'trip:trip' trip.id %}';
            var post_data = {'type': 'PUT', 'action': action};
            if (action === "leave") {
                post_data.user_id = {{ user.id }};
            }
            $.ajaxSetup({
                headers: { "X-CSRFToken": csrftoken }
            });
            $.post(url, post_data, function (redirection_url, status) {
                window.location.href = redirection_url;
            })
        }

        $('.ui.rating').rating();
        {% for receiver, rate in votes.items %}
            {% if not rate %}
                $('#rate_{{ receiver.id }}').rating('setting', 'onRate', function (value) {
                    $('#rate_{{ receiver.id }}').rating('disable');
                    var url = '{% url 'trip:trip' trip.id %}';
                    var post_data = {};
                    post_data['receiver_id'] = '{{ receiver.id }}';
                    post_data['rate'] = value;
                    $.post(url, post_data, function (response, status) {
                        console.log(response)
                    })
                });
            {% else %}
                $('#rate_{{ receiver.id }}').rating('disable');
            {% endif %}
        {% endfor %}
    </script>
    
    <script>
        function request_to_join() {
            window.location.href = '{% url 'trip:trip_request' trip.id %}';
        }
    </script>
{% endblock %}

