{% extends 'base.html' %}
{% block body %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Login">
    </form>
    <p>Forgot password?<a href="{% url 'password_reset' %}"> Click here... </a></p>
    <p>Don't have an account?<a href="{% url 'account:signup' %}">Signup</a></p>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}