<!DOCTYPE html>
<html lang="en">
<head>
    <TITLE>auth</TITLE>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <style>
        #menu_item:hover {
            background-color: red;
        }
    </style>
</head>
<body>

    <div class="ui labeled icon inverted menu">
        <a href="{% url 'account:login' %}" class="item" id="menu_item">
            <i class="home icon"></i>
            Home
        </a>
        <a href="{% url 'group:groupcreate' %}" class="item" id="menu_item">
            <i class="users icon"></i>
            Create Group
        </a>
        <a href="{% url 'trip:' %}" class="item" id="menu_item">
            <i class="car icon"></i>
            Create Trip
        </a>
        <a class="right floated item" id="menu_item">
            <i class="user icon"></i>
            Profile
        </a>
        <a class="item" id="menu_item">
            <i class="sign-out icon"></i>
            Logout
        </a>
    </div>
</body>
</html>
