<!DOCTYPE html>
<html>
<head>
<style>
.navbar_ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbar_li{
  float: right;
}

.navbar_li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar_li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
</style>
    <title>Home</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<ul class="navbar_ul">
    <li style="float: left" class="navbar_li"><a href="{% url 'root:home' %}">Home</a></li style="float: left" class="navbar">
    <li class="navbar_li"><a id="logout_btn">Logout</a></li>
    <li class="navbar_li"><a href="{% url 'account:user_profile' %}">Profile</a></li>
</ul>
<script>
    var url = '{% url 'account:logout' %}';
    var data = {};
    $('#logout_btn').one("click", function () {
        $.post(url, data, function (data, status) {
            $("body").html(data)
        });
    })
</script>
</body>
</html>
