{% extends 'base.html' %}

{% block body %}
    <div class="ui centered grid">
        <div class="eight wide column">
            <div class="ui internally celled grid">
                {% for mail in mails %}
                    <div class="row">
                        <div class="two wide column">
                            <div class="item">
                                <img class="ui avatar large circular image" src="" alt="prof">
                                <div class="content">
                                    {{ mail.sender.username }}
                                </div>
                            </div>
                        </div>
                        <div class="fourteen wide column">
                            <div class="content">{{ mail.text }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="four wide column">
            <form method="POST">
                {% csrf_token %}
                {{ mail_form.as_p }}
                <input type="submit" value="Send">
            </form>
        </div>
    </div>
{% endblock %}