{% extends 'base.html' %}
{% block title %}
    profile | {{ member.username }}
{% endblock %}

{% block extra_header %}
    <style>
        .iconBackground {
            border-bottom: 1px solid red;
            height: 11em;
            width: 98%;
            margin: 0;
            position: absolute;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="ui centered grid">
        <div class="twelve wide column" style="margin-top: 5em">
            <div class="ui segment">
                <div class="iconBackground">
                    <h2 class="ui center aligned icon header" style="margin-top: 2em">
                      {{ member.first_name }} {{ member.last_name }}
                    </h2>
                    {% if status == "MEMBER_PROFILE" %}
                        {% if reported %}
                            you have reported this member
                        {% else %}
                            <a href="{% url 'account:report_member' member.id %}" style="float: right">
                                Report this user
                            </a>
                        {% endif %}

                    {% endif %}
                </div>
                <div >
                    {% if member.profile_picture %}
                        <img class="ui avatar medium circular image" src="{{ member.profile_picture.url }}" alt="prof">
                    {% else %}
                        <img class="ui avatar medium circular image" src="../../static/images/user_default_image.png" alt="prof">
                    {% endif %}
                </div>
                <div class="ui divider"></div>
                <div class="content">
                    <h3 class="header">Biography:</h3>
                    <div class="description" style="margin-left: 2em">
                        <p>{{ member.bio }}</p>
                    </div>
                    {% if  status != "ANONYMOUS_PROFILE" %}
                        <h4 class="header">Phone Number: {{ member.phone_number }}</h4>
                        {% if member.gender != None %}
                            <h4 class="header">Gender: {{ member.get_gender_display }}</h4>
                        {% endif %}
                    {% endif %}
                        {% if status == "OWNED_PROFILE" %}
                            <a href="{% url 'account:change_password' %}">
                                Change Password
                            </a>
                            <br>
                            <a href="{% url 'account:edit' %}">
                                Edit your profile
                            </a>
                        {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}