<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>

{% if user.is_authenticated %}
    {% include 'authenticated_navbar.html' %}
{% else %}
    {% include 'not_authenticated_navbar.html' %}
{% endif %}

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Signup">
</form>
<p>Have an account?<a href="{% url 'account:login' %}">Login</a></p>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
</body>
</html>