{% extends 'base.html' %}
{% block title %}
    Trip History
{% endblock %}
{% block body %}
    <div class="ui centered grid">
        <div class="six wide column">
            <div class="ui segment">
                Partaking Trips
                <ul id="partaking_trips_list">

                </ul>
            </div>
        </div>

        <div class="six wide column">
            <div class="ui segment">
                Driving Trips
                <ul id="driving_trip_list">

                </ul>
            </div>
        </div>

        <br>
        <script>
            var partaking_trips_list = document.getElementById('partaking_trips_list');
            {% for trip in  partaking_trips%}
                var joined_list_item = document.createElement('li');
                {% if trip.trip_description %}
                    var joined_description = document.createElement('p');
                    joined_description.appendChild(document.createTextNode('{{ trip.trip_description }}'));
                    joined_list_item.appendChild(joined_description);
                {% endif %}
                var joined_status = document.createElement('p');
                joined_status.appendChild(document.createTextNode('The Trip is {{ trip.get_status_display}}'));
                var joined_source = document.createElement('p');
                joined_source.appendChild(document.createTextNode('Source location is {{ trip.source.x }} , {{ trip.source.y }}'));
                var joined_destination = document.createElement('p');
                joined_destination.appendChild(document.createTextNode('Destination location is {{ trip.destination.x }} , {{ trip.destination.y }}'));
                var joined_is_private = document.createElement('p');
                {% if trip.is_private %}
                    joined_is_private.appendChild(document.createTextNode('Trip is a private trip'));
                {% else %}
                    joined_is_private.appendChild(document.createTextNode('Trip is a public trip'));
                {% endif %}
                var joined_capacity = document.createElement('p');
                joined_capacity.appendChild(document.createTextNode('Capacity of trip is {{ trip.capacity }}'));
                var joined_starting_estimation = document.createElement('p');
                joined_starting_estimation.appendChild(document.createTextNode('Trip will start about {{ trip.start_estimation }}'));
                var joined_ending_estimation = document.createElement('p');
                joined_ending_estimation.appendChild(document.createTextNode('Trip will end about {{ trip.end_estimation }}'));
                var joined_link_to_trip = document.createElement('a');
                joined_link_to_trip.appendChild(document.createTextNode('Go to trip'));
                joined_link_to_trip.setAttribute('href', '{% url 'trip:trip' trip.id %}');
                joined_list_item.appendChild(joined_link_to_trip);
                joined_list_item.appendChild(joined_status);
                joined_list_item.appendChild(joined_is_private);
                joined_list_item.appendChild(joined_source);
                joined_list_item.appendChild(joined_destination);
                joined_list_item.appendChild(joined_capacity);
                joined_list_item.appendChild(joined_starting_estimation);
                joined_list_item.appendChild(joined_ending_estimation);
                joined_list_item.setAttribute('style', 'border: 1px solid; padding: 2px; margin:4px');
                partaking_trips_list.appendChild(joined_list_item);
            {% endfor %}

            var driving_trip_list = document.getElementById('driving_trip_list');
            {% for trip in  driving_trip%}
                var made_list_item = document.createElement('li');
                {% if trip.trip_description %}
                    var made_description = document.createElement('p');
                    made_description.appendChild(document.createTextNode('{{ trip.trip_description }}'));
                    made_list_item.appendChild(made_description);
                {% endif %}
                var made_status = document.createElement('p');
                made_status.appendChild(document.createTextNode('The Trip is {{ trip.get_status_display}}'));
                var made_source = document.createElement('p');
                made_source.appendChild(document.createTextNode('Source location is {{ trip.source.x }} , {{ trip.source.y }}'));
                var made_destination = document.createElement('p');
                made_destination.appendChild(document.createTextNode('Destination location is {{ trip.destination.x }} , {{ trip.destination.y }}'));
                var made_is_private = document.createElement('p');
                {% if trip.is_private %}
                    made_is_private.appendChild(document.createTextNode('Trip is a private trip'));
                {% else %}
                    made_is_private.appendChild(document.createTextNode('Trip is a public trip'));
                {% endif %}
                var made_capacity = document.createElement('p');
                made_capacity.appendChild(document.createTextNode('Capacity of trip is {{ trip.capacity }}'));
                var made_starting_estimation = document.createElement('p');
                made_starting_estimation.appendChild(document.createTextNode('Trip will start about {{ trip.start_estimation }}'));
                var made_ending_estimation = document.createElement('p');
                made_ending_estimation.appendChild(document.createTextNode('Trip will end about {{ trip.end_estimation }}'));
                var made_link_to_trip = document.createElement('a');
                made_link_to_trip.appendChild(document.createTextNode('Go to trip'));
                made_link_to_trip.setAttribute('href', '{% url 'trip:trip' trip.id %}');
                made_list_item.appendChild(made_link_to_trip);
                made_list_item.appendChild(made_is_private);
                made_list_item.appendChild(made_status);
                made_list_item.appendChild(made_source);
                made_list_item.appendChild(made_destination);
                made_list_item.appendChild(made_capacity);
                made_list_item.appendChild(made_starting_estimation);
                made_list_item.appendChild(made_ending_estimation);
                made_list_item.setAttribute('style', 'border: 1px solid; padding: 2px; margin:4px');
                driving_trip_list.appendChild(made_list_item);
            {% endfor %}

        </script>
{% endblock %}